@{
    ViewData["Title"] = "Hakkımızda";
}

<h1>@ViewData["Title"]</h1>

<p>Bizimle ilgili bazı bilgiler burada yer alacak.</p>
<p>Hakkımızda sayfası şuan için örnek bir içerik içeriyor. İlerleyen zamanlarda daha fazla bilgi ekleyeceğiz.</p>
